.chat_input {
    display: flex;
    justify-content: center;
    width: 90%;
    background-color: #40444b;
    border-radius: 24px;
    padding: 8px;
    margin: 5px 0;
}

.chat_form {
    width: 90%;
    padding: 8px 30px;
    border-radius: 16px;
    border: none;
    background-color: #202225;
    color: #ffffff;
    font-size: 16px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.chat_form:focus {
    outline: none;
    box-shadow: 0 1px 10px rgba(79,84,92,0.5);
    transform: scale(1.02);
}

.chat_form::placeholder {
    color: #72767d;
    font-style: italic;
}
