.upload_server_pic {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    object-fit: cover;
}

.create_server_modal {
    background-color: #36393F;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 24vw;
    height: fit-content;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.1);
}

.create_my_own {
    width: 100%;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #2F3136;
    padding: 10px;
}

.right_carrot {
    margin-right: 10px;
}

.create_left {
    display: flex;
    flex-direction: row;
    color: white;
    gap: 10px;
}

.create_server_about {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.back {
    width: 100%;
    height: 40px;
    background-color: #2F3136;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.back_text {
    margin-left: 20px;
}

.create_input_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.create_label {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}

.create_input {
    border-style: none;
    width: 90%;
    border-radius: 5px;
    background-color: #40444B;
    font-size: 16px;
    height: 40px;
    padding-left: 10px;
    color: #ffffff;
}

.create_buttons_container {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
}

.create_button {
    background-color: #7289DA;
    border-radius: 5px;
    height: 30px;
    color: #ffffff;
    padding: 4px 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.create_button:hover {
    background-color: #5865f2;
}

.cancel_button{
    width: 100%;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
