.parent-container {
    display: flex;
    height: 100vh;
    align-items: stretch;
  }

  .channels {
    width: 150px;
    background-color: #2f3136;
    color: #8e9297;
    overflow-y: auto;
    margin-left: 72px;
    padding: 20px 0;
    border-right: 1px solid #202225;
  }

  .current-channel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-left: 1px solid #202225;
    border-right: 2px solid #202225;
    background-color: #36393f;
    color: #dcddde;
  }

  .messages-container {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #36393f;
  }

  .chat-input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #202225;
    background-color: #40444b;
  }

  .chat-input-container input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #dcddde;
    background-color: #40444b;
  }

  .chat-input-container input::placeholder {
    color: #dcddde;
  }

  /* .members_list {
    width: 150px;
    background-color: #2f3136;
    color: #8e9297;
    overflow-y: auto;
    border-left: 1px solid #202225;
  } */

  .channels a:visited {
    color: #dcddde;
  }

  .channels a:hover {
    color: #3076f8;
  }

  .channels a:active {
    color: #2262f7;
  }

  .channels a {
    display: block;
    padding: 10px 0;
    margin-left: 10px;
  }

  .channels a {
    line-height: 1.5;
  }

  .members_list {
    width: 150px;
    background: linear-gradient(to bottom, #2f3136 0%, #36393f 100%);
    color: #8e9297;
    overflow-y: auto;
    border-left: 1px solid #202225;
    transition: all 0.3s ease;
    scrollbar-width: thin;
    scrollbar-color: #202225 #36393f;
  }

  .members_list .member_item {
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .members_list .member_item:hover {
    background-color: #4f5360;
    color: #dcddde;
  }

  /* For webkit browsers like Chrome/Safari */
  .members_list::-webkit-scrollbar {
    width: 8px;
  }

  .members_list::-webkit-scrollbar-track {
    background: #36393f;
  }

  .members_list::-webkit-scrollbar-thumb {
    background-color: #202225;
    border-radius: 10px;
  }
