.left_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 72px;
    background-color: #3068d8;
    gap: 10px;
  }
  .icon_container {
    width: 44px;
    height: 44px;
    background-color: #4b4e54;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left_side_icon {
    height: 28px;
    width: 28px;
    border-radius: 100%;
  }

  .home_seperator {
    width: 60%;
    height: 2px;
    background-color: #373a3f;
  }
