html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #2f3136;
}

  .left_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    width: 72px;
    height: 110vh;
    background-color: #2f3136;
    border-right: 1px solid #202225;
    gap: 10px;
  }

  .updateServerModal {
    margin-top: 400px;
  }

  .icon_container {
    width: 44px;
    height: 44px;
    background-color: #36393f;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left_side_icon {
    height: 28px;
    width: 28px;
    border-radius: 100%;
  }

  .home_seperator {
    width: 60%;
    height: 3px;
    background-color: #202225;
  }
