.home_content {
    height: 100vh;
    background: url('https://res.cloudinary.com/dip4w3xmy/image/upload/v1686240388/623a4051785c6adfc8c3edca_BuildPillar_vl9yud.svg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .main_content {
    z-index: 3;
    width: 700px;
    height: fit-content;
    position: absolute;
    top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 56px;
    color: #ffff;
    font-weight: 900;
  }

  .description {
    font-size: clamp(16px, 2vw, 20px);
    text-align: center;
    margin-top: 0;
    color: white;
    line-height: 1.625;
    width: 820px;
  }

.creator {
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.social-links {
  display: flex;           /* Flexbox */
  gap: 20px;               /* Space between the links */
  justify-content: center; /* Horizontally center the links */
}

.left_side_icon {
  height: 50px;            /* Adjust based on your preference */
  width: auto;             /* Maintain the image's aspect ratio */
  transition: 0.3s;        /* Smooth transition for hover effect */
}

.left_side_icon:hover {
  transform: scale(1.1);  /* Slightly enlarge the icon on hover */
}
