#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity value as per your preference */
  z-index: 9999;
}

#modal-content {
  position: relative;
  background-color: #2f3136;
  color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  width: 24vw;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
