
.message {
  display: flex;
  margin: 30px 0;
}

.message_pfp {
  margin-bottom: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.message_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.username {
  font-weight: bold;
  margin-bottom: 15px;
  width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.content {
  margin-left: 10px;
  margin-top: 5px;
}

.message_img {
  width: 20x;
  height: 20px;
}
