.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    position: relative;
    z-index: 4;
    background-color: #5865f2;
  }

  .navbar-brand img {
    height: 40px;
    width: 60px;
    margin-right: 10px;
  }

  .navbar-actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-size: 14px;
  }

  .navbar-link {
    background-color: white;
    padding: 5px 10px;
    border-radius: 20px;
    color:  #5865f2;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .navbar-link:hover {
    background-color:  #5865f2;
    color: #f8f9fa;
  }
