.current-channel {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }

  .messages-container {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
  }

  .chat-input-container {
    padding: 10px;
    border-top: 1px solid gray;
  }
