/* .current-channel {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }

  .messages-container {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    flex-direction: column-reverse;
  }

  .chat-input-container {
    padding: 10px;
    border-top: 1px solid gray;
  } */

  .current-channel {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-left: 1px solid #2f3136;
    border-right: 1px solid #2f3136;
    background-color: #36393f;
    color: #dcddde;
  }

  .messages-container {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    flex-direction: column-reverse;
    background-color: #2f3136;
  }

  .chat-input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #2f3136;
    background-color: #40444b;
  }

  .chat-input-container input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #dcddde;
    background-color: #40444b;
  }
  
  .chat-input-container input::placeholder {
    color: #dcddde;
  }
